* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
	font-family: "Poppins", sans-serif;
}

.nav {
	height: 50px;
	width: 100%;
	background-color: #0D1B2A;
	position: relative;
}

.nav>.nav-header {
	display: inline;
}

.nav>.nav-header>.nav-title {
	display: inline-block;
	font-size: 20px;
	color: #E0E1DD;
	padding: 10px 10px 10px 10px;
	letter-spacing: 1px;
}

.nav>.nav-btn {
	display: none;
}

.nav>.nav-links {
	display: inline;
	float: right;
	font-size: 15px;
}

.nav>.nav-links>a {
	display: inline-block;
	padding: 13px 10px 13px 10px;
	text-decoration: none;
	color: #E0E1DD;
}

.nav>.nav-links>a:hover {
	transition: ease 0.5s;
	color: #415A77;
}

.nav>#nav-check {
	display: none;
}

@media (max-width:600px) {
	.nav>.nav-btn {
		display: inline-block;
		position: absolute;
		right: 0px;
		top: 0px;
	}

	.nav>.nav-btn>label {
		display: inline-block;
		width: 50px;
		height: 50px;
		padding: 13px;
	}

	.nav>.nav-btn>label:hover,
	.nav #nav-check:checked~.nav-btn>label {
		background-color: rgba(0, 0, 0, 0.3);
	}

	.nav>.nav-btn>label>span {
		display: block;
		width: 25px;
		height: 10px;
		border-top: 2px solid #E0E1DD;
	}

	.nav>.nav-links {
		z-index: 999;
		position: absolute;
		display: block;
		width: 100%;
		background-color: #0D1B2A;
		height: 0px;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		top: 50px;
		left: 0px;
	}

	.nav>.nav-links>a {
		display: block;
		width: 100%;
	}

	.nav>#nav-check:not(:checked)~.nav-links {
		height: 0px;
	}

	.nav>#nav-check:checked~.nav-links {
		height: calc(100vh - 50px);
		overflow-y: auto;
	}
}

/* .hero_section {
	color: #E0E1DD;
	background-color: #0D1B2A;
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.headerText {
	font-size: 50px;
}

@media screen and (max-width:1440px) {
	.headerText {
		font-size: 65px;
	}
}

@media screen and (max-width:768px) {
	.headerText {
		font-size: 25px;
	}
}

@media screen and (max-width:768px) {
	.headerText {
		margin-top: 400px;
		font-size: 20px;
	}
	.button {
		background-color: #ffffff00;
		color: #E0E1DD;
		width: 3em;
		height: 2em;
		border: #415A77 0.2em solid;
		border-radius: 11px;
		text-align: right;
		transition: all 0.6s ease;
	}
}

.button {
	background-color: #ffffff00;
	color: #E0E1DD;
	width: 10em;
	height: 2.9em;
	border: #415A77 0.2em solid;
	border-radius: 11px;
	text-align: right;
	transition: all 0.6s ease;
}

.button:hover {
	background-color: #415A77;
	cursor: pointer;
}

.button svg {
	width: 1.6em;
	margin: -0.2em 0.8em 1em;
	position: absolute;
	display: flex;
	align-items: center;
	transition: all 0.6s ease;
}

.button:hover svg {
	transform: translateX(5px);
}

.text {
	margin: 0 1.5em
}

@media screen and (max-width:1440px) {
	.hero_img {
		max-width: 650px;
	}
}

@media screen and (max-width:1024px) {
	.hero_img {
		max-width: 475px;
	}
}

@media screen and (max-width:768px) {
	.hero_img {
		max-width: 400px;
	}
}
@media screen and (max-width:425px) {
	.hero_img {
		display: block;
		margin: auto;
		max-width: 300px;
	}
} */
@media (max-width: 576px) {
	.xs {
		color: red;
		font-weight: bold;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:768px) {
	.sm {
		color: red;
		font-weight: bold;
	}
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width:992px) {
	.md {
		color: red;
		font-weight: bold;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1200px) {
	.lg {
		color: red;
		font-weight: bold;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.xl {
		color: red;
		font-weight: bold;
	}
}

.card>img {
	display: block;
	margin: auto;
	margin-top: 10px;
	width: 200px;
	height: 150px;
	object-fit: contain;
}

.card-body>button {
	background-color: transparent;
	border: none;
	display: block;
	margin: auto;
}

.card-body>button>a {
	color: #778DA9;
}

.card-body>button>a:hover {
	color: #415A77;
}